<div class= "d-flex justify-content-between m-3 border p-2">
    <div id="userHeader"><h3>Bienvenido {{sessionUser}}</h3></div>
    <button type="submit" class="btn btn-danger " onclick="return logout()">Desloguear</button>
</div>


           
