<div class="border p-2 m-3">
  <h4>Ingrese Producto</h4>
  <br />
  <form id="productsForm" class="">

    <div class="form-group" action="api/products/save" method="post">
      <label for="name">Nombre</label>
      <input id="name" class="form-control" type="text" name="name" required />
    </div>

    <div class="form-group">
      <label for="price">Precio</label>
      <input
        id="price"
        class="form-control"
        type="number"
        step="0.01"
        name="price"
        required
      />
    </div>

    <div class="form-group">
      <label for="image">Foto URL</label>
      <input id="image" class="form-control" type="url" name="image" />
    </div>
    <button type="submit" class="btn btn-success mt-3">Agregar</button>
  </form>
  <br />
</div>
